@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('root.css');

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--dark_color_font);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background-color: var(--page_background_color);
    display: flex;
    flex-direction: row;
}

nav {
    width: auto;
    height: 100%;
    padding: 18px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.nav__item,
.nav__link {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__img__container {
    width: auto;
    height: auto;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .16s;
    border-radius: 100%;
}

.active {
    background-color: var(--nav_active_background_color);
}

.noactive:hover {
    background-color: var(--nav_noactive_background_color);
}

main {
    width: 100%;
    height: 100%;
    padding: var(--page_padding);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--base_border_radius);
    background-color: #ffffff;
}

header {
    width: 100%;
    height: auto;
    padding: 24px 32px;
    display: flex;
    justify-content: flex-start;
}

.group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    font-size: 32px;
}

.inputWrapper {
    height: 48px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--base_border_radius);
    padding: 12px;
    margin-left: 24px;
    background-color: var(--input_background_color);
}

.input__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    width: 100%;
    height: 100%;
    margin: 0 24px;
    background-color: var(--input_background_color);
    border: none;
    outline: none;
    font-size: 20px;
    line-height: normal;
    font-stretch: 100%;
}

#input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.group__icon {
    width: auto;
    height: auto;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.group__icon__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.group__icon__item,
.group__icon__link {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: auto;
    height: auto;
    padding: 12px;
    background-color: var(--icon_background_color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
