.no_authenticated {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 16px;
    margin-top: 16px;
}

.no_authenticated img {
    width: 64px;
    height: 64px;
}

.no_authenticated-title {
    font-size: 1.5rem;
}

.no_authenticated-subtitle {
    font-size: 1.125rem;
}

.sign_in {
    width: auto;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 16px;
    margin-top: 16px;

    background-color: #ffffff;
    border: 0.5px solid var(--border_color);
    border-radius: 24px;
    transition: 0.16s;
}

.sign_in-link {
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.sign_in:hover {
    border: 0.5px solid var(--button_hover_color);
    background-color: var(--button_hover_color);
}

.sign_in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 6px;
}

.sign_in-icon {
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_in-text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.125rem;
    color: var(--main_color_blue);
}
