<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("root.css");
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('root.css');

>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--dark_color_font);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background-color: var(--page_background_color);
    display: flex;
    flex-direction: row;
}

<<<<<<< HEAD
main {
    width: 100%;
    height: auto;

=======
nav {
    height: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
}

.nav-no_open {
    width: auto;
}

.nav-open {
    width: 260px;
}

#menu {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 6px;
}

.menu__container {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;

    transition: .16s;
    border-radius: var(--base_border_radius);
    color: var(--dark_color_font);

    user-select: none;
}

.menu__container:hover {
    background-color: var(--nav_noactive_background_color);
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.nav__item,
.nav__link {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__item {
    transition: .16s;
    border-radius: var(--base_border_radius);

    flex-direction: column;
}

.nav__link {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--dark_color_font);
}

.nav__link:hover {
    color: var(--dark_color_font);
}

.nav__img__container {
    width: auto;
    height: auto;
    display: flex;

    justify-content: center;
    align-items: center;

    user-select: none;
}

.title {
    padding-left: 16px; 
    font-weight: 500;
}

.meet__header {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 8px 12px;
    text-decoration: none;
    color: var(--dark_color_font);
}

.meets {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;

    border-radius: 100%;
    transition: .16s;

    user-select: none;
}

.meets_icon-open {
    transform: rotate(90deg);
}

.meets:hover {
    background-color: #DDE9F2;
    cursor: pointer;
}

.meets__nav-open {
    display: flex;
}

.meets__nav-close {
    display: none;
}

.meets__list {
    list-style: none;
}

.close {
    display: none;
}

.active {
    background-color: var(--nav_active_background_color);
}

.noactive:hover {
    background-color: var(--nav_noactive_background_color);
}

main {
    width: 100%;
    height: 100%;

>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    padding: var(--page_padding);

    display: flex;
    justify-content: center;
<<<<<<< HEAD
    align-items: flex-start;
}

* {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
=======
    align-items: center;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
}

.page__content {
    width: 100%;
<<<<<<< HEAD
    height: auto;
    min-height: calc(100vh - 40px);
=======
    height: 100%;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc

    display: flex;
    flex-direction: column;

    border-radius: var(--base_border_radius);
    background-color: #ffffff;
}

header {
    width: 100%;
    height: auto;

<<<<<<< HEAD
    padding: var(--header_padding);
=======
    padding: 24px 24px;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc

    display: flex;
    justify-content: flex-start;
}

.group {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    font-size: 1.75rem;
}

.inputWrapper {
    height: 48px;
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 12px;
    margin-left: 24px;

    border-radius: var(--base_border_radius);
    background-color: var(--input_background_color);
}

.input__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    width: 100%;
    height: 100%;

    margin: 0 24px;
    background-color: var(--input_background_color);
    border: none;
    outline: none;
    font-size: 1.25rem;
    line-height: normal;
    font-stretch: 100%;
}

#input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.group__icon {
    width: auto;
    height: auto;

    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.group__icon__list {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 16px;
}

.group__icon__item,
.group__icon__link {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    cursor: pointer;
}

<<<<<<< HEAD
@keyframes SubtitleAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

=======
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
.icon {
    width: auto;
    height: auto;

    padding: 12px;
<<<<<<< HEAD
    background-color: transparent;
=======
    background-color: var(--icon_background_color);
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    transition: var(--transition);
}

.icon:hover {
    background-color: var(--icon_background_color);
}

.icon[subtitle]:hover::after {
    content: attr(subtitle);
    position: absolute;
    background-color: var(--title_background_color);
    color: #fff;
    font-weight: 500;
    padding: 8px;
    border-radius: 4px;
    top: 64px;
    font-size: 14px;
    line-height: 1.125rem;

    animation: SubtitleAnimation var(--transition) ease-in-out;
    white-space: pre-line;
=======
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
}

.group__button__link {
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    cursor: pointer;
    text-decoration: none;
}

.button {
    width: auto;
    height: 100%;

    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;

    padding: 0 16px;

    background-color: #ffffff;
    border: 0.5px solid var(--border_color);
    border-radius: 24px;
    transition: var(--transition);
}

.button:hover {
    border: 0.5px solid var(--button_hover_color);
    background-color: var(--button_hover_color);
}

.button-icon {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: var(--main_color_blue);
=======
    justify-content: center;
    align-items: center;
    
    padding: 0 16px;

    background-color: #1A73E8;
    border-radius: 24px;
    color: #FFFFFF;

    font-size: 1.125rem;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
}

.page__content-main {
    width: 100%;
<<<<<<< HEAD
    height: auto;
=======
    height: 100%;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__content-main-container {
    width: 85%;
<<<<<<< HEAD
    height: auto;
=======
    height: 100%;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    display: flex;
    flex-direction: column;
}

.page__main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 32px;
    border-bottom: 2px solid #999999;
}

.page__main-module {
    width: 65%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page__main-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.page__main-title {
<<<<<<< HEAD
    color: var(--main_color_blue);
    font-size: 2.5rem;
    font-weight: 500;

    letter-spacing: -0.5px;
=======
    color: #1A73E8;
    font-size: 2.5rem;
    font-weight: 500;

    letter-spacing: -.5px;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    line-height: 1.2em;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.page__main-subtitle {
    font-size: 1rem;
<<<<<<< HEAD
    color: rgb(32, 33, 36);
    font-weight: 400;
    letter-spacing: 0.1px;
=======
    color: rgb(32, 33, 36);;

    font-weight: 400;
    letter-spacing: .1px;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    line-height: 24px;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.page__main-actions {
    display: flex;
    flex-direction: row;

    gap: 24px;
}

<<<<<<< HEAD
.page__main-join,
.page__main-create {
=======
.page__main-join, .page__main-create {
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    padding: 6px 14px;

    border-radius: 24px;

    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
<<<<<<< HEAD

=======
    
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__main-join {
    border: none;
<<<<<<< HEAD
    background-color: var(--main_color_blue);
=======
    background-color: #1A73E8;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    color: #ffffff;
}

.page__main-create {
<<<<<<< HEAD
    border: 0.5px solid var(--border_color);
=======
    border: 0.5px solid #999999;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    background-color: #ffffff;
    color: rgba(26, 115, 232, 0.9);
}

.page__main-image {
    width: 35%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
.page__main-image>img {
=======
.page__main-image > img {
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    width: 100%;
    height: auto;

    border-radius: 24px;
}

<<<<<<< HEAD
.place__content {
    width: 100%;
    height: auto;
    padding: 48px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.place__card-box {
    position: static;
    width: 100%;
    height: auto;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    overflow: hidden;
}

.place__card {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 24px;

    background-color: #fff;
    overflow: hidden;
}

.place__card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card_image_wrapper {
    width: 100%;
    height: 100%;
}

.aspect_ratio_box-image {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column-reverse;
}

.aspect_ratio_box-image::after {
    display: block;
    content: "";
    padding-bottom: 56.25%;
}

.image_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    background-color: #000000;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

.place__card-info {
    padding: 16px;

    border-color: var(--border_color);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 24px 24px;
}

.place__card-link {
    width: auto;
    height: auto;
    text-decoration: none;
}

.place__card-title h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.place__card-rating {
    font-size: 1.125rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.place__card-actions {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
}

.place__card-action {
    width: auto;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    padding: 6px 12px;
    border-radius: 24px;
    border: 0.5px solid var(--border_color);

    cursor: pointer;
}

.place__card-action--image {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.place__card-action--text {
    font-size: 1rem;
    white-space: nowrap;
    color: rgba(28, 28, 28, 0.9);
}

=======
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
@media screen and (min-width: 1440px) {
    .page__main-title {
        font-size: 2.5rem;
    }
}

<<<<<<< HEAD
@media screen and (min-width: 1024px) and (max-width: 1440px) {
=======
@media screen and (min-width: 1024px) and (max-width: 1440px){
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    .page__main-title {
        font-size: 2rem;
    }
}

<<<<<<< HEAD
@media screen and (max-width: 1660px) {
    .place__content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .place__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
=======
@media screen and (min-width: 768px) and (max-width: 1024px){
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    .page__main-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
<<<<<<< HEAD

=======
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    *,
    body {
        font-size: 14px;
    }

    .page__main-title {
        font-size: 1.5rem;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
