<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("root.css");
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('root.css');

>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--dark_color_font);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
<<<<<<< HEAD
    background-color: var(--log_background_color);
=======
    background-color: #F3F7FC;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__overley {
    width: 480px;
    height: auto;

    display: flex;
    flex-direction: column;

    padding: 24px;
    border-radius: 24px;

<<<<<<< HEAD
    background-color: #ffffff;
=======
    background-color: white;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
}

.auth__title {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

<<<<<<< HEAD
    font-size: 2rem;
=======
    font-size: 32px;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    text-align: center;
    font-weight: 400;

    margin-bottom: 48px;
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input {
<<<<<<< HEAD
    border: 1px solid var(--border_color);
=======
    border: 1px solid #999999;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    border-radius: 4px;

    padding: 13px 15px;
    margin: 1px 1px 0 1px;

    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    direction: ltr;
    font-weight: 400;
    text-align: left;

    box-sizing: inherit;
}

.input:focus {
<<<<<<< HEAD
    outline-color: var(--main_color_blue);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--dark_color_font);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--dark_color_font);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--dark_color_font);
}

input[type="password"i] {
=======
    outline-color: #1A73E8;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--dark_color_font);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--dark_color_font);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--dark_color_font);
}

input[type="password" i] {
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    -webkit-text-security: disc !important;
}

.form__togglePassword {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 8px;
}

#togglePassword {
    width: 16px;
    height: 16px;
}

.togglePassword__text {
    margin-left: 16px;
    font-size: 0.875rem;
}

.form_steps {
    margin-top: 64px;

    display: flex;
    justify-content: space-between;
}

<<<<<<< HEAD
=======

>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
.link__container {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    margin-left: -16px;

<<<<<<< HEAD
    background-color: #ffffff;
    border-radius: 24px;

    transition: 0.16s;
}

.link__container:hover {
    background-color: #f5f8fd;
=======
    background-color: white;
    border-radius: 24px;

    transition: .16s;
}

.link__container:hover {
    background-color: #F5F8FD;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
}

.link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
<<<<<<< HEAD
    color: var(--main_color_blue);
}

.link:link,
.link:visited {
    color: var(--main_color_blue);
=======
    color: #1A73E8;
}

.link:link, .link:visited {
    color: #1A73E8;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
}

.login__button {
    border: none;
    border-radius: 24px;
    padding: 8px 16px;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    display: inline-block;
<<<<<<< HEAD

    background-color: var(--main_color_blue);
=======
    
    background-color: #1A73E8;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    color: white;

    transition-duration: 0.16s;
    cursor: pointer;
}

.login__button:hover {
<<<<<<< HEAD
    background-color: var(--hover_color_blue);
=======
    background-color: #357ae8;
>>>>>>> 98fd232f868e088baf30d1c41b8f43f1ab3cd5cc
    color: white;
}
