.content {
    width: 85%;
    margin: 0 auto;
}

.create-meet__body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.create-meet__body * h2 {
    font-size: 130%;
}

.create-meet__header {
  background-color: #fff;
  padding: 24px 0;

  border-bottom: 1px solid #999999;
}

.create-meet__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-meet__title {
  display: flex;
  gap: 16px;
  align-items: center;
}

.create-meet__title h2 {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  font-size: 24px;
}

.create-meet__title h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #666;
}

.create-meet__icon {
  height: 50px;
  width: 50px;
  background-color: #ccc;
  border-radius: 5px;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;

  border: 0.5px solid #999999;
  border-radius: 24px;
  background: none;

  padding: 8px 10px;
  cursor: pointer;
}

.delete-btn img {
  width: auto;
  height: auto;
}

.delete-btn__text {
  color: rgba(28, 28, 28, 0.9);
  font-size: 1.125rem;
  font-weight: 400;
}



.delete-btn p {
  margin: 0;
  padding: 0;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.member {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.member__info {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    gap: 10px;
}

.member__icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%; 
}

.member__add-btn {
    cursor: pointer;
}

.member__info img {
    width: 20px;
    height: 20px;
}

.location {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
    gap: 32px;
}

.select-location {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.select-location__input {
    width: 372px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

.submit {
    padding: 10px 20px;
    border-radius: 30px;
    width: 200px;
    border: none;
    cursor: pointer;
    background-color: #1A73E8;
    color: whitesmoke;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #1c7bf7;
}