body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

.page__title {
    line-height: 1.8rem;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 500;
    color: rgb(32, 33, 36);
}

.settings__block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999999;
    padding: 24px 0;
}

.settings__block-title {
    line-height: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: 500;
    color: rgb(32, 33, 36);
}

.settings__block-switch {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 32px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f4;
    -webkit-transition: 0.16s;
    transition: 0.16s;
    box-sizing: border-box;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: 0.16s;
    transition: 0.16s;
    box-sizing: border-box;
}

input:checked + .slider {
    background-color: #357ae8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 100%;
}
