{% extends 'base_generic.html' %}

{% block title %}Аккаунт{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account_menu.css' %}" />
{% endblock %}

{% block content %}
    {% include "nav.html" %}
    <main>
        <div class="page__content">
            {% include "header.html" %}
            <div class="page__content-main">
                <div class="page__content-main-container">
                    <div class="account__information">
                        <div class="account__information-title">
                            <div class="account__information-title--container">
                                Основная информация
                            </div>
                        </div>
                        <div class="account__information-block block">
                            <a class="account__information-link" href="">
                                <div class="account__information-block--container">
                                    <div class="block-title">
                                        Имя
                                    </div>
                                    <div class="block-content">
                                        {{ info.first_name }}
                                    </div>
                                    <div class="block-arrow">
                                        <img src="{% static 'resources/chevron_right.svg' %}" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="account__information-block second block">
                            <a class="account__information-link" href="">
                                <div class="account__information-block--container">
                                    <div class="block-title">
                                        Фамилия
                                    </div>
                                    <div class="block-content">
                                        {{ info.last_name }}
                                    </div>
                                    <div class="block-arrow">
                                        <img src="{% static 'resources/chevron_right.svg' %}" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="account__information-block third last">
                            <a class="account__information-link" href="">
                                <div class="account__information-block--container">
                                    <div class="block-title">
                                        Электронная почта
                                    </div>
                                    <div class="block-content">
                                        {{ info.email }}
                                    </div>
                                    <div class="block-arrow">
                                        <img src="{% static 'resources/chevron_right.svg' %}" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/account_menu.js' %}"></script>
{% endblock %}