{% extends 'base_generic.html' %}

{% block title %}Вход{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
    <div class="auth__overley">
        <div class="auth__title__container">
            <h1 class="auth__title">Вход</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form__input">
                <input class="input" type="email" id="email" name="email" placeholder="Почта" spellcheck="false" required>
                <input class="input" type="password" id="password" name="password" placeholder="Пароль" spellcheck="false" required>
            </div>
            <div class="form__togglePassword">
                <input type="checkbox" id="togglePassword">
                <div class="togglePassword__text">
                    <label for="togglePassword">Показать пароль</label>
                </div>
            </div>
            <div class="form_steps">
                <div class="link__container">
                    <a class="link" href="{% url 'register' %}">Создать аккаунт</a>
                </div>
                <button class="login__button" type="submit">Войти</button>
            </div>
        </form>
    </div>

    <script>
        var passwordInput = document.getElementById('password');
        var togglePasswordCheckbox = document.getElementById('togglePassword');
    
        togglePasswordCheckbox.addEventListener('change', function() {
            if (togglePasswordCheckbox.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    </script>
{% endblock %}
