{% extends 'base_generic.html' %}

{% block title %}Настройки{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static  'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}" />
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" />
    <link rel="stylesheet" href="{% static 'css/account_menu.css' %}" />
{% endblock %}

{% block content %}
    {% include "nav.html" %}
    <main>
        <div class="page__content">
            {% include "header.html" %}
            <div class="page__content-main">
                <div class="page__content-main-container">
                    <div class="page__title">
                        Настройки
                    </div>
                    <div class="settings__block">
                        <div class="settings__block-title">
                            Название настройки
                        </div>
                        <div class="settings__block-switch">
                            <label class="switch">
                                <input type="checkbox" checked id="history">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="settings__block">
                        <div class="settings__block-title">
                            Название настройки
                        </div>
                        <div class="settings__block-switch">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/account_menu.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}